.media-video-spinner-container {
  position: relative;
}
.media-video-spinner-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  pointer-events: none;
  opacity: 0.9;
  
  background-image: url('../image/icon.svg');
  background-repeat: no-repeat;
  -webkit-background-size: 25% 25%;
     -moz-background-size: 25% 25%;
          background-size: 25% 25%;
  background-position: center; 
}
.media-video-spinner {
  width: 100%;
}